- title "About Me" 

#about-me
  :markdown
    I decided to finally claim my own personal nook of the internet. Not sure what I'll post. Maybe helpful things that people may stumble upon via Google.

    * I'm Dan Neumann
    * BBA in [MIS][mis] 
    * New grad from the [McCombs Business School][mccombs] at [The University of Texas][ut], 2011
    * Studied abroad at [VŠE University of Economics][vse] in Prague, Czech Republic, 2009

    [mis]: "http://www.mccombs.utexas.edu/BBA/Advising/Majors/Business/MIS.aspx"
    [mccombs]: "http://www.mccombs.utexas.edu/"
    [ut]: "http://www.utexas.edu/"
    [vse]: "http://en.wikipedia.org/wiki/University_of_Economics,_Prague"

    ### Programming

    * Vim-lover
    * Current focus: Ruby/Rails and Javascript/Backbone.js
    * [Top 1,000][rails] Rails Contributor (heh)

    [rails]: "http://contributors.rubyonrails.org/contributors/dan-neumann/commits"
