%tr
  %td.category-name= link_to category.name, category
  %td.category-post-count= category.posts.count
  %td= gated_link_to "Edit", edit_category_path(category)
  %td= gated_link_to "Delete", category, confirm: "Are you sure?", method: :delete
