<div class="posts sixteen columns">
  <% for post in @posts %>
    <div class="post row">
      <div class="post-title twelve columns alpha"><%= link_to post.title, post %></div>
      <div class="post-date four columns omega"><%= post.created_at.to_s(:short) %></div>
    </div>
  <% end %>
</div> 
