<% title @post.title %>
<div class="post-meta clearfix">
  <div class="post-categories thirteen columns alpha">
    <% unless @post.categories.empty? %>
      <%= raw @post.categories.map { |c| link_to c.name, c }.to_sentence %>
    <% end %>
  </div>
  <div class="post-date three columns omega">
    <%= simple_date @post.created_at %>
  </div>
</div>

<%= raw @post.rendered_body %>

