.post-meta {
  margin-bottom: 20px;
  padding: 5px 0;
  border: {
    top: 1px dotted;
    bottom: 1px dotted;
  }
  .post-date {
    text-align: right;
  }
}

.post-body {
	ol, ul { margin-left: 30px; }
	ul { list-style: disc outside; }
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dotted #999;
}

