<table class="categories">
  <thead>
    <tr>
      <th>Category</th>
      <th>Posts</th>
    </tr>
  </thead>
<% @categories.each do |category| %>
  <tr>
    <td class="category-name"><%= link_to category.name, category %></td>
    <td class="category-post-count"><%= category.posts.count %></td>
    <% if current_user %>
    <td><%= link_to "Edit", edit_category_path(category) %></td> 
    <td><%= link_to "Delete", category, confirm: "Are you sure?", method: :delete %></td>
  <% end %>
  </tr>
<% end %>
</table>
