<table>
<% @categories.each do |category| %>
  <tr>
    <td><%= link_to category.name, category %></td>
    <td><%= link_to "Edit", edit_category_path(category) %></td> 
    <td><%= link_to "Delete", category, confirm: "Are you sure?", method: :delete %></td>
  </tr>
<% end %>
</table>
